:root {
	--text-color: #000000;
	--text-color-light: #FFFFFF;
	--text-color-dark: #000000;
	--primary-text-color: #000000;

	--primary-color-blue: #2ECEE8;
	--primary-color-green: #54D388;
	--primary-color-yellow: #EFC348;
	--primary-color-purple: #976BD6;
	--secondary-color-grey: #4A4A4A;
	--secondary-color-coral: #F97D7D;
	--secondary-color-orange: #FF9D33;

	--page-bg-color: #FFFFFF;
}

@media (prefers-color-scheme: dark) {
	:root {
	}
}
